/* You can add global styles to this file, and also import other style files */

body {
  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("digitalbanking.jpg");
}
